body{
	background-color: #232323;
	margin: 0;
	font-family: "Avenir","Montserrat";

}

.square{
	width:30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;/*safari*/
	-moz-transition: background 0.6s;/*fireFox*/
}

#container{
	max-width: 600px;
	margin:0 auto;
}

h1{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	line-height: 1.1;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;

}

/*span{
	color: white;
}*/

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	strike: black;
	margin-bottom: 20px;
} 

.selected{
	color: white;
	background: steelblue;
}

#colorDisplay{
	font-size:200%;
}

button{
	border: none;
	background: none;
	outline: none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size:inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;

}

#message{
	display: inline-block;
	width: 12%;
	font-weight: 700;

}

button:hover {
	color: white;
	background: steelblue;
}